@font-face {
  font-family: "Director";
  src: url("./assets/fonts/Director-Regular.woff2") format("woff2"), url("./assets/fonts/Director-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Courier New";
}

main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.engine-controls {
  position: fixed;
  margin: 0.5rem 0;
  padding: 0;
  mix-blend-mode: exclusion;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  box-sizing: border-box;
}
.engine-controls button {
  font-family: monospace;
  font-size: 0.8rem;
  padding: 0.5em;
  border-radius: 16px;
}

body,
#e-play {
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -ms-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

textarea {
  resize: none;
  padding: 0.75em;
  font-size: 1.75em;
  line-height: 97.5%;
}

.window {
  position: relative;
  background: #f7f7f7;
  box-shadow: 0 0 100px #717374;
  border: 1.5px solid #000000;
  width: 100%;
  border-radius: 15px;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.5vh 5vw;
}

h2 {
  width: 100%;
  display: block;
  border: 1.5px solid #000000;
  border: 0;
  font-family: "Director";
  font-size: 1rem;
  text-align: left;
  padding: 0 0.5rem;
  color: #fff;
  mix-blend-mode: difference;
}
h2 span:first-of-type {
  padding: 0 0.25em 0 0;
}
h2 span[text=scene] {
  float: right;
}

#audio {
  position: fixed;
  margin: 0;
  padding: 0.75rem;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
  display: none;
  pointer-events: none;
}
#audio .wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 340px;
  margin: 0 auto;
  padding: 0;
}
#audio select {
  padding: 0.25rem 1rem;
  height: 24px;
  font-family: monospace;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px) hue-rotate(180deg) contrast(1.5);
  color: #fff;
  mix-blend-mode: exclusion;
  margin: 0;
  margin-right: 0.5rem;
  border: 1px solid #f7f7f7;
  border-radius: 20px;
  pointer-events: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#audio select::-ms-expand {
  display: none;
}
#audio button {
  background: #000;
  color: #f7f7f7;
  border-radius: 16px;
  text-align: center;
  padding: 0.25rem 0.75rem;
  height: 24px;
  margin: 0 0.15rem;
  border: 1px solid #f7f7f7;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px) hue-rotate(180deg) contrast(1.5);
  pointer-events: auto;
}
#audio [playing] {
  background: rgba(0, 0, 0, 0.9);
  border: 1px dashed #f7f7f7;
}
#audio button:hover {
  text-shadow: 0 0 5px #f7f7f7;
}

button {
  border: 1.5px solid #000000;
  border-radius: 12px;
  background: #000000;
  color: #f7f7f7;
  padding: 0.5em 1em;
  margin: 0.5em;
  font-family: "Courier New";
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

button:hover {
  transform: translateY(-2.5px);
  color: #f7f7f7;
  background: #1c1e1f;
  cursor: pointer;
  box-shadow: 0 0 20px #3b4041;
}

#downloader {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: pre !important;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
}

body {
  background: #717374;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#e-play {
  display: block;
  position: relative;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.58);
  width: 512px;
  height: 512px;
  margin: 0;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
}

#e-play .obj,
#e-cartridge .obj {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 128px;
  height: 128px;
  mix-blend-mode: exclusion;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#e .obj {
  pointer-events: auto;
}

.obj {
  pointer-events: auto;
}
.obj img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

/* 



PLAY 



*/
#play {
  background: none;
  position: relative;
  width: 512px;
  animation: pulse-engine 5s infinite;
  overflow: hidden;
  margin: auto;
  -webkit-transition: all 0.3s linear;
  transition: all 0.13s linear;
}
@media only screen and (max-width: 600px) {
  #play {
    max-width: 100%;
    animation: none;
    transform: scale(0.98);
  }
}
#play .play-overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 9;
}
#play #e-cartridge {
  position: absolute;
  width: 512px;
  height: 512px;
  bottom: 0;
  z-index: 15;
}
#play #e-text {
  position: relative;
  top: 0;
  left: 0;
  z-index: 15;
  pointer-events: none;
}
#play #e-text textarea {
  position: absolute;
  top: 0;
  left: 0;
  resize: none !important;
  pointer-events: none !important;
  max-width: 100vw;
}
#play #e-effects {
  position: absolute;
  top: 0;
  z-index: 16;
  pointer-events: none;
}
#play #e-controls {
  position: absolute;
  width: 512px;
  max-width: 100vw;
  height: 512px;
  z-index: 12;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
#play #e-controls a {
  position: absolute;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: hue-rotate(25deg);
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  opacity: 0.1;
}
#play #e-controls a:hover {
  transform: scale(1.06);
  backdrop-filter: hue-rotate(30deg);
  cursor: pointer;
  opacity: 0.8;
}
#play #e-controls a.___n,
#play #e-controls a.___s {
  width: 100%;
  height: 20px;
}
#play #e-controls a.___e,
#play #e-controls a.___w {
  width: 20px;
  height: 512px;
}
#play #e-controls a.___e {
  right: 0;
}
#play #e-controls a.___w {
  left: 0;
}
#play #e-controls a.___s {
  bottom: 0;
  left: 0;
}
#play #e-controls a.___n {
  top: 0;
  left: 0;
}
#play #e-controls a.-inaccessible {
  opacity: 0.05;
}
#play #e-controls a.-inaccessible:hover {
  opacity: 0.1 !important;
  cursor: not-allowed;
}

#play:hover #e-controls a:not(.-inaccessible) {
  opacity: 0.6;
}

/* TEXT */
#e-effects,
#e-text {
  position: absolute;
  height: 512px;
  width: 512px;
  top: 0;
  left: 0;
}

#e-effects {
  background-size: cover;
  pointer-events: none;
  z-index: 15;
}

/* TEXT */
#e-text {
  mix-blend-mode: difference;
  z-index: 14;
  pointer-events: none;
}
#e-text textarea {
  resize: none;
  padding: 0.75em;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: #f7f7f7;
  font-family: "Times New Roman";
  mix-blend-mode: exclusion;
  white-space: pre-wrap;
  overflow-y: hidden;
  cursor: text;
}
#e-text textarea.__toggled {
  border: 0.5em solid rgba(255, 255, 255, 0.45);
  padding: 0.3em;
}

/* CARTRIDGE */
#cartridge {
  display: none;
}

@keyframes pulse-engine {
  0% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}

/*# sourceMappingURL=engine.css.map */
