/* 


EDITOR


*/
@font-face {
  font-family: "FA Sysfont C";
  src: url("./assets/fonts/sysfont.woff2") format("woff2"), url("./alpha/assets/fonts/sysfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Director";
  src: url("./assets/fonts/Director-Regular.woff2") format("woff2"), url("./assets/fonts/Director-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*

  COLORS

*/
/*

  TRANSITIONS

*/
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#e,
body,
#e-play {
  transition: background 0.15s linear;
}

* {
  box-sizing: border-box;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #d4d4d4;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Times New Roman", -apple-system, BlinkMacSystemFont, "Segoe UI", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  resize: none;
  cols: 17;
  padding: 0.75em;
  font-size: 1.75em;
  line-height: 97.5%;
}

textarea:focus {
  border: 15px solid #fff;
  padding: 0;
}

select {
  padding: 0.25em 1em;
  margin: 0.5em auto;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #717374;
  background: #d4d4d4;
  font-family: "Times New Roman";
}

select:hover {
  cursor: pointer;
}

h1 {
  font-size: 5.6em;
  letter-spacing: -2px;
  display: block;
  text-align: center;
  pointer-events: none;
}

h2 {
  width: 100%;
  display: block;
  border-bottom: 1px solid #000000;
  font-family: "Director";
  font-size: 0.6rem;
  letter-spacing: -0.5px;
  padding: 0.75em 0.5em;
  text-align: left;
}
h2 img {
  object-fit: contain;
  width: 18px;
}
h2 span {
  padding: 0 0.25em;
}
h2 span:first-of-type {
  padding: 0 0.25em 0 0;
}
h2 span[text=scene] {
  float: right;
}

h4 {
  padding: 0.5em;
}

/* 

    EFFECTS


*/
.fx {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fx._1 {
  background-image: url(https://i.gifer.com/origin/c5/c50bb597295cf9c1cacc417a2c2927ea_w200.gif);
  opacity: 0.08;
  mix-blend-mode: colorburn;
}

.fx._p {
  background: #ffe6eb;
  opacity: 1;
  mix-blend-mode: exclusion;
  display: none;
}

.fx._s {
  background-image: url(assets/fx-scanline.gif);
  background-size: 120%;
  opacity: 0.1;
  mix-blend-mode: overlay;
}

.fx._cover {
  z-index: 20;
  object-fit: contain;
  filter: brightness(-100%);
  display: none;
}
.fx._cover img {
  width: 100%;
  height: 100%;
}

/* 



START AND EXTRAS 



*/
#workspace {
  min-height: 100vh;
}

/* EFFECTS */
#e-effects,
#e-text {
  position: absolute;
  height: 512px;
  width: 512px;
  top: 0;
  left: 0;
}

#e-effects {
  background-size: cover;
  pointer-events: none;
  z-index: 15;
}

/* TEXT */
#e-text {
  mix-blend-mode: difference;
  z-index: 14;
  pointer-events: none;
}
#e-text textarea {
  resize: none;
  padding: 0.75em;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: #edede8;
  font-family: "Times New Roman";
  mix-blend-mode: exclusion;
  white-space: pre-wrap;
  overflow-y: hidden;
  cursor: text;
}
#e-text textarea.__toggled {
  border: 0.5em solid rgba(255, 255, 255, 0.45);
  padding: 0.3em;
}

#engine-window {
  display: inline-block;
  max-width: 900px;
  height: auto;
  margin: 10vh auto 20vh auto;
  padding-bottom: 0;
}

#engine {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#engine .sidebar {
  margin: 0 auto;
  padding: 0;
}

#e,
#e-play {
  display: block;
  position: relative;
  background: #000000;
  border: 1px solid #000;
  width: 512px;
  height: 512px;
  margin: 0;
  overflow: hidden;
}

#e .obj,
#e-play .obj,
#e-cartridge .obj {
  position: absolute;
  display: inline-block;
  width: 128px;
  height: 128px;
  mix-blend-mode: exclusion;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#e .obj {
  pointer-events: auto;
}

.obj {
  pointer-events: auto;
}
.obj img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

#e [data-selected] {
  cursor: pointer;
}

#e [data-selected="1"]::after {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px dashed #edede8;
  border-spacing: 5vh;
  content: " ";
  mix-blend-mode: none !important;
  box-shadow: 0 0 15px #edede8;
}

.draggable-helper {
  mix-blend-mode: difference;
  opacity: 0.7;
  border: 1px dashed #eb80ff;
}

@keyframes borderSelected {
  from {
    border: 1px dashed #edede8;
    border-spacing: 10px;
  }
  to {
    transform: translateX(100%);
  }
}
/* 



PLAY 



*/
#play {
  position: relative;
  width: 512px;
  animation: pulse-engine 5s infinite;
  overflow: hidden;
  margin-bottom: 1em;
  border: 1px solid #edede8;
  -webkit-transition: all 0.3s linear;
  transition: all 0.13s linear;
  background: none;
  backdrop-filter: none;
}
#play h2 {
  font-size: 1rem;
  color: #edede8;
  mix-blend-mode: difference;
}
#play .play-overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 9;
}
#play #e-cartridge {
  position: absolute;
  width: 512px;
  height: 512px;
  bottom: 0;
  z-index: 15;
  pointer-events: none;
  border-radius: 0 0 12px 12px;
}
#play #e-play {
  border-radius: 0 0 8px 8px;
}
#play #e-text {
  position: absolute;
  top: 0;
  z-index: 15;
  pointer-events: none;
}
#play #e-text textarea {
  resize: none;
  pointer-events: none !important;
}
#play #e-effects {
  position: absolute;
  top: 0;
  z-index: 16;
  pointer-events: none;
}
#play #e-controls {
  position: absolute;
  width: 100%;
  height: 512px;
  z-index: 12;
  bottom: 0;
  overflow: hidden;
  border-radius: 12px;
}
#play #e-controls a {
  position: absolute;
  display: inline-block;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: hue-rotate(15deg);
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  opacity: 1;
}
#play #e-controls a:hover {
  transform: scale(1.06);
  backdrop-filter: hue-rotate(30deg);
  cursor: pointer;
  opacity: 0.8;
}
#play #e-controls a.___n,
#play #e-controls a.___s {
  width: 100%;
  height: 18px;
}
#play #e-controls a.___e,
#play #e-controls a.___w {
  width: 18px;
  height: 512px;
}
#play #e-controls a.___n {
  left: 0;
  top: 0;
}
#play #e-controls a.___w {
  left: 0;
}
#play #e-controls a.___e {
  right: 0;
}
#play #e-controls a.___s {
  left: 0;
  bottom: 0;
}
#play #e-controls a.-inaccessible {
  opacity: 0.05 !important;
}
#play #e-controls a.-inaccessible:hover {
  opacity: 0.1 !important;
  cursor: not-allowed;
}

#play:hover #e-controls a:not(.-inaccessible) {
  opacity: 0.6;
}

/* 



EDITOR 



*/
#load {
  max-width: 600px;
}
#load textarea#_remix {
  resize: none;
  width: 100%;
  height: 200px;
  font-size: 0.8rem;
  padding: 1em;
  margin: 0.5em auto;
  border-radius: 8px;
  border: 1px solid #464A4B;
}

#scene_s #scene_selector,
#map #scene_selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  text-align: center;
  font-family: "Director";
  letter-spacing: -1px;
}
#scene_s #scene_selector ._s,
#map #scene_selector ._s {
  display: inline-block;
  padding: 0.1rem;
  background: #000000;
  border: 1px solid transparent;
  font-size: 0.8rem;
  vertical-align: middle;
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: scale(0.98);
  line-height: 300%;
}
#scene_s #scene_selector ._s span,
#map #scene_selector ._s span {
  mix-blend-mode: difference;
  color: #fff !important;
}
#scene_s #scene_selector ._s:hover,
#map #scene_selector ._s:hover {
  transform: scale(1.15);
  filter: hue-rotate(40deg);
  cursor: pointer;
  opacity: 0.8;
}
#scene_s #scene_selector ._s.__start,
#map #scene_selector ._s.__start {
  border: 1px solid #eb80ff;
}
#scene_s #scene_selector ._s.__active,
#map #scene_selector ._s.__active {
  opacity: 1;
  border: 1px solid #edede8;
  box-shadow: 0 0 5px #edede8;
  animation: pulse-black 2s infinite;
}
#scene_s #scene_selector ._s.__inactive,
#map #scene_selector ._s.__inactive {
  opacity: 0.5;
}
#scene_s #scene_selector ._s.__unused,
#map #scene_selector ._s.__unused {
  opacity: 0.25;
}

#scene_selector ._s {
  color: #edede8;
  flex-basis: 20%;
  min-height: 26px;
  display: inline-block;
  padding: 0.5em;
  margin: 0.1rem;
  border-radius: 0.5px;
  text-align: center;
  transition: all 0.13s linear;
  box-shadow: 0 0 5px #edede8;
}

#scene_s {
  margin-bottom: 0;
}
#scene_s #scene_selector {
  max-width: 260px;
  margin: 0.25rem;
}
#scene_s #scene_selector ._s {
  font-size: 0.5em;
  margin: -0.01em;
  border-radius: 2px;
}

#map ._s.__start::after {
  display: inline-block;
  content: "(Start)";
  color: #edede8;
  text-transform: uppercase;
  transform: translateY(-28px);
  letter-spacing: 0.25px;
  font-size: 0.5em;
}
#map ._s {
  height: 50px;
  width: 50px;
}

hr {
  height: 0;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

#texttool input[type=text] {
  margin: 1em auto;
  width: 80%;
  padding: 0.25em;
}

#library .library-selector {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  background: #000;
  padding: 0;
  height: 222px;
  max-width: 190px;
  overflow-y: scroll;
  display: none;
}
#library .library-selector img {
  margin: -0.1em;
}

#downloader_game {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
}

#downloader {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: pre !important;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
  -webkit-touch-callout: all;
  /* iOS Safari */
  -webkit-user-select: all;
  /* Safari */
  -khtml-user-select: all;
  /* Konqueror HTML */
  -moz-user-select: all;
  /* Old versions of Firefox */
  -ms-user-select: all;
  /* Internet Explorer/Edge */
  user-select: all;
}

/* ANIMATIONS */
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-black-engine {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  }
  70% {
    transform: scale(1.02);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-engine {
  0% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-modal {
  0% {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0);
  }
}
.ui-tooltip {
  position: absolute;
  padding: 0.25em;
  font-family: monospace;
  font-style: normal;
  font-size: 0.6rem;
  z-index: 99;
  line-height: 130%;
  max-width: 190px;
  display: inline;
  background: rgba(255, 255, 255, 0.8);
}

.ui-helper-hidden-accessible {
  visibility: none;
  opacity: 0;
}

/*# sourceMappingURL=t.css.map */
