@font-face {
  font-family: "Times Now";
  src: url("./assets/fonts/TimesNow-LightItalic.woff2") format("woff2"), url("./assets/fonts/TimesNow-LightItalic.woff") format("woff");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Times Now";
  src: url("./assets/fonts/TimesNow-Light.woff2") format("woff2"), url("./assets/fonts/TimesNow-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Apercu Pro Mono";
  src: url("./assets/fonts/ApercuPro-Mono.woff2") format("woff2"), url("./assets/fonts/ApercuPro-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*

  TRANSITIONS

*/
html, body {
  scroll-behavior: smooth;
}

#e, body {
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -ms-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

/*

  COLORS

*/
* {
  box-sizing: border-box;
}

body {
  background: #b6b7b7;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10vh;
}

h1 {
  font-family: "Times Now";
  font-size: 5.6em;
  letter-spacing: -2px;
  display: block;
  text-align: center;
}

h1._title {
  font-size: 7.6em;
  letter-spacing: -5px;
}

h2 {
  width: 100%;
  display: block;
  border-bottom: 1.5px solid #000000;
  font-family: "Apercu Pro Mono";
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 1em 0;
}
h2 span {
  border-right: 1.5px solid #000000;
  padding: 0 1em;
}

h4 {
  padding: 0.5em;
}

button {
  border: 1.5px solid #000000;
  background: #f7f7f7;
  padding: 1em;
  margin: 1em;
}

button:hover {
  background: #000000;
  color: #f7f7f7;
  cursor: pointer;
  box-shadow: 0 0 20px #868c8e;
}

/* 

    EFFECTS


*/
.fx {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
}

.fx._1 {
  background-image: url(https://i.gifer.com/origin/c5/c50bb597295cf9c1cacc417a2c2927ea_w200.gif);
  opacity: 0.08;
  mix-blend-mode: colorburn;
}

.fx._p {
  background: #ffe6eb;
  opacity: 1;
  mix-blend-mode: exclusion;
  display: none;
}

/* 

    CONSISTENT WINDOWS


*/
.window {
  position: relative;
  background: #f7f7f7;
  box-shadow: 0 0 20px #868c8e;
  border: 1.5px solid #000000;
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.5vh 0;
}

.panel {
  border-top: 1.5px solid #000000;
  border-bottom: 1.5px solid #000000;
  margin: 1em 0;
}
.panel p {
  padding: 1em;
  font-weight: normal;
  font-size: 0.85em;
  line-height: 120%;
}
.panel h2 {
  width: 100%;
  padding: 0.5em 1em;
  margin: 0;
}

.panel._full {
  border: 1.5px solid #000000;
}

.panel._sidebar {
  width: 100%;
  border-top: none;
  margin: 1em 0;
}

.panel._tutorial {
  box-shadow: 0 0 20px #868c8e;
  transform: translateX(2em);
  right: 0;
  max-width: 250px;
  z-index: 1;
  position: absolute;
  background: #f7f7f7;
  color: #000000;
}

/* PANELS & SIDEBARS */
.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  border-bottom: none;
}

#controls-top {
  height: 100px;
}

#controls {
  width: 200px;
  margin: 0 auto;
  padding: 1em;
}

#controls .controls-selected {
  display: none;
}

#controls #colorpicker input[type=color] {
  padding: 0.5em;
  margin: 1em auto;
  display: block;
  width: 100%;
  height: 50px;
}

#controls #colorpicker input[type=color]:hover {
  cursor: pointer;
}

#help {
  width: 220px;
}

/* ENGINE */
#engine {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
#engine .sidebar {
  min-width: calc( ((100% - 512px) / 2) - 2em);
  margin: 0 auto;
  padding: 0;
}
#engine #e {
  width: 512px;
}

#e {
  display: block;
  position: relative;
  background: #000000;
  border: 1px solid #fff;
  outline: 1.5px solid #000000;
  width: 512px;
  height: 512px;
  margin: 0;
  overflow: hidden;
}

#e .obj {
  position: absolute;
  width: 128px;
  height: 128px;
  mix-blend-mode: exclusion;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#e img[data-selected="1"] {
  box-shadow: 0 0 20px #fff;
}

#e img[data-selected="1"]:hover {
  cursor: pointer;
}

/* 



EDITOR 



*/
#scene_s #scene_selector, #map #scene_selector {
  margin: 1em auto;
  text-align: center;
}
#scene_s #scene_selector hr, #map #scene_selector hr {
  height: 0;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
#scene_s #scene_selector ._s, #map #scene_selector ._s {
  display: inline-block;
  padding: 0.25em;
  background: #000000;
  color: #fff;
  vertical-align: middle;
}
#scene_s #scene_selector ._s.__start, #map #scene_selector ._s.__start {
  border: 1px solid #eb80ff;
}
#scene_s #scene_selector ._s.__active, #map #scene_selector ._s.__active {
  opacity: 1;
  outline: 2ox solid pink;
  box-shadow: 0 0 5px #000000;
}
#scene_s #scene_selector ._s.__inactive, #map #scene_selector ._s.__inactive {
  opacity: 0.5;
}
#scene_s #scene_selector ._s.__unused, #map #scene_selector ._s.__unused {
  opacity: 0.25;
}
#scene_s #scene_selector ._s:hover, #map #scene_selector ._s:hover {
  filter: invert(1);
  cursor: pointer;
}

#map {
  width: 100%;
  border: 1.5px solid #000;
}
#map #scene_selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#map #scene_selector ._s {
  width: 80px;
  height: 80px;
  padding: 0.5em;
  margin: 0.2em;
  font-size: 1em;
  vertical-align: middle;
  text-align: center;
}
#map #scene_selector ._s.__start::after {
  padding: 0.5em 0;
  display: block;
  content: "Start";
  color: #fff;
  font-family: "Apercu Pro Mono";
  text-transform: uppercase;
  font-size: 0.6em;
}

#scene_s ._whatscene {
  display: inline-block;
  padding-left: 0.5em;
  border-right: 0;
}
#scene_s #scene_selector {
  max-width: 250px;
  outline: 1px solid #000000;
  padding: 0.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#scene_s #scene_selector hr {
  margin: 0;
  display: block;
}
#scene_s #scene_selector ._s {
  flex-basis: 22%;
  font-size: 0.5em;
  line-height: 25px;
  margin: 0.25em;
  -webkit-transition: all 0.13s linear;
  -moz-transition: all 0.13s linear;
  -ms-transition: all 0.13s linear;
  -o-transition: all 0.13s linear;
  transition: all 0.13s linear;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #fff;
}

#texttool input[type=text] {
  margin: 1em auto;
  width: 80%;
  padding: 0.25em;
}

#library {
  width: 400px;
  flex-grow: 2;
  margin: 0;
}
#library .library-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#library .library-controls select {
  padding: 0.25em;
  margin: 1em auto;
  text-align: center;
}
#library .library-controls select:hover {
  cursor: pointer;
}
#library .library-controls button._filter {
  padding: 0.25em;
  text-transform: uppercase;
}
#library .library-selector {
  padding: 1em;
  margin: 0;
  background: #000;
  width: 100%;
}
#library .library-selector img {
  margin: -0.1em;
}
#library ._toadd {
  background: #000000;
  padding: 0.25em;
  border: 0.5px solid #fff;
  object-fit: contain;
  width: 50px;
  height: 50px;
  max-width: 50px;
  height: 50px;
}
#library ._toadd:hover {
  filter: invert(1);
  cursor: pointer;
}

#library .library-objects .objtoadd:hover {
  filter: invert(1);
}

/*# sourceMappingURL=t.css.map */
