
$c: #000000; // MAIN COLOR

body{
  padding: 2em;
  display: flex;
  justify-content: center;
}

h4{
  padding: .5em;
}

#engine{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
}


// scene colors

#e{
  
  position: relative;
  margin: 0 auto;
  background: $c;
  border: 1px solid #fff;
  outline: 2px solid $c;
  
  width: 512px;
  height: 512px;
  overflow: hidden;
}



#e .obj{
  position: absolute;
  width: 128px;
  height: 128px;
  mix-blend-mode: exclusion;
  
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#e img[data-selected="1"]{
  box-shadow: 0 0 20px #fff;
}

// map view

/* 



EDITOR 



*/



// –––––––––
// MAP
// VIEW
// –––––––––


#scene_s{
  
  
  h2{
    border: 1px solid $c;
    padding: .25em 0;
  }
  
  
    ._whatscene{
      border-left: 1px solid $c;
      display:inline-block;
      padding-left: .5em;
    }


  #scene_selector{

    outline: 1px solid $c;
    padding: .5em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    ._s{
      padding: .25em;
      background: $c;
      color:#fff;
      display: inline-block;
      width: 25px;
      height: 25px;
      font-size: .5em;
      line-height: 25px;
      margin: .25em;
      -webkit-transition: all .13s linear;
-moz-transition: all .13s linear;
-ms-transition: all .13s linear;
-o-transition: all .13s linear;
transition: all .13s linear;
      border: 1px solid #fff;
      box-shadow: 0 0 5px #fff;
    }
    
    ._s.__active{
      opacity: 1;
      border: 1px solid #fff;
      box-shadow: 0 0 5px $c;
    }
    
    ._s.__inactive{
      opacity: .75;
    }
    
    
    ._s.__unused{
      opacity: 0.25;
    }
    
    ._s:hover{
      filter: invert(1);
      cursor: pointer;
    }
    
  }
  
}




// –––––––––
// EDITOR
// CONTROLS
// –––––––––


#controls{
  width: 200px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

#controls .controls-selected{
display: none;
}

// library

#library{
  background: $c;
  color:#fff;
  padding: 1em;
}


#library .library-objects .objtoadd{
  background: $c;
  margin: 0;
  padding: .25em;
  border: 1px solid #fff;
  width: 50px;
  height: 50px;
  max-width: 50px;
  height: 50px;
}

#library .library-objects .objtoadd:hover{
  filter: invert(1);
}