@font-face {
    font-family: 'Times Now';
    src: url('TimesNow-ExtraLight.woff2') format('woff2'),
        url('TimesNow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

