@font-face {
  font-family: 'FA Sysfont C';
  src: url('./assets/fonts/sysfont.woff2') format('woff2'),
    url('./alpha/assets/fonts/sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Times Now';
  src: url('./assets/fonts/TimesNow-Light.woff2') format('woff2'),
    url('./assets/fonts/TimesNow-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



$c: #000000; // MAIN COLOR
$l: #f7f7f7; // light color

$g1: #b6b7b7;
$g2: #717374;
$g3: #3b4041;
$g4: #1c1e1f;

$p: #eb80ff;

$mono: "Courier New";
$serif: "Times New Roman";

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: $mono;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.engine-controls {
  width: 100%;
  margin: 1em 0;

  button {
    font-size: .7em;
    padding: .5em 2em;
    border-radius: 16px;
  }
}

body,
#e-play {
  -webkit-transition: background .15s linear;
  -moz-transition: background .15s linear;
  -ms-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}


textarea {
  resize: none;
  padding: .75em;
  font-size: 1.75em;
  line-height: 97.5%;
}

.window {
  position: relative;
  background: $l;
  box-shadow: 0 0 100px $g2;
  border: 1.5px solid $c;
  outline: 1px solid $l;
  width: 100%;
  border-radius: 15px;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.5vh 5vw;
}

h2 {
  width: 100%;
  display: block;
  border-bottom: 1.5px solid $c;
  font-family: $serif;
  font-size: 1.75em;
  letter-spacing: -.3px;
  padding: .5em 0;

  span {
    padding: 0 .25em;
  }

}

#audio-player-controller {
  position: fixed;
  padding: 1em;
  z-index: 20;
  top: 0;
  width: 100%;
  text-align: center;
  mix-blend-mode: difference;
  display: none;

  h3 {
    display: inline-block;
    padding: .2em .5em;
    width: 200px;
    height: 35px;
    line-height: 30px;
    border: 1px solid $l;
    margin: 0 auto;
    border-radius: 16px;
    color: $l;
  }

  button {
    background: none;
    border: 0;
    outline: 0;
    margin: 0 .5em;
    transform: translateY(-8px);
    padding: .5em;
  }

  button:hover {
    text-shadow: 0 0 5px $l;
  }

}


button {
  border: 1.5px solid $c;
  border-radius: 12px;
  background: $c;
  color: $l;
  padding: .5em 1em;
  margin: .5em;
  font-family: $mono;
  -webkit-transition: all .19s cubic-bezier(.17, .67, .83, .67);
  transition: all .19s cubic-bezier(.17, .67, .83, .67);
}

button:hover {
  transform: translateY(-2.5px);
  color: $l;
  background: $g4;
  cursor: pointer;
  box-shadow: 0 0 20px $g3;
}

#downloader {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: pre !important;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
}


body {
  background: $g2;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#e-play {
  display: block;
  position: relative;
  background: $c;
  border: 1px solid #fff;
  outline: 1.5px solid $c;
  width: 512px;
  height: 512px;
  margin: 0;
  overflow: hidden;
}

#e-play .obj,
#e-cartridge .obj {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  width: 128px;
  height: 128px;
  mix-blend-mode: exclusion;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}


/* 



PLAY 



*/

#play {
  outline: 1.25px solid #fff;
  background: #000;
  position: relative;
  width: 512px;
  animation: pulse-engine 5s infinite;
  overflow: hidden;
  margin: auto;

  // handles pulse animation transitions

  -webkit-transition: all .3s linear;
  transition: all .13s linear;

  .play-overlay {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  // cartridge
  #e-cartridge {
    position: absolute;
    width: 512px;
    height: 512px;
    bottom: 0;
    z-index: 15;
  }

  #e-text {
    position: absolute;
    top: 0;
    z-index: 15;
    pointer-events: none;

    textarea {
      resize: none !important;
      pointer-events: none !important;
    }
  }


  #e-effects {
    position: absolute;
    top: 0;
    z-index: 16;
    pointer-events: none;
  }

  // map navigation
  #e-controls {
    position: absolute;
    width: 512px;
    height: 512px;
    z-index: 12;
    bottom: 0;

    a {
      position: absolute;
      display: inline-block;
      background: #fff;
      opacity: 0.3;
      background-blend-mode: blur(3px);
      -webkit-transition: all .19s cubic-bezier(.17, .67, .83, .67);
      transition: all .19s cubic-bezier(.17, .67, .83, .67);
    }

    a.___n,
    a.___s {
      width: 100%;
      height: 24px;
    }

    a.___e,
    a.___w {
      width: 24px;
      height: 512px;
    }

    a.___e {
      right: 0;
    }

    a.___w {
      left: 0;
    }

    a.___s {
      bottom: 0;
      left: 0;
    }

    a.___n {
      top: 0;
      left: 0;
    }

    a.-inaccessible {
      opacity: 0.05;
    }

    a:hover {
      transform: scale(1.04);
      mix-blend-mode: difference;
      cursor: pointer;
      opacity: 0.8;
    }

    a.-inaccessible:hover {
      opacity: 0.1;
      cursor: not-allowed;
    }
  }

  h2 {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

}


/* TEXT */


#e-effects,
#e-text {
  position: absolute;
  height: 512px;
  width: 512px;
  top: 0;
  left: 0;
}

#e-effects {
  background-size: cover;
  pointer-events: none;
  z-index: 15;
}


/* TEXT */

#e-text {
  mix-blend-mode: difference;
  z-index: 14;
  pointer-events: none;

  textarea {
    resize: none;
    padding: .75em;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    color: $l;
    font-family: $serif;
    mix-blend-mode: exclusion;
    white-space: pre-wrap;
    overflow-y: hidden;
    cursor: text;
  }


  textarea.__toggled {
    border: .5em solid rgba(255, 255, 255, 0.45);
    padding: .3em;
  }
}




/* CARTRIDGE */

#cartridge {
  display: none;
}


@keyframes pulse-engine {
  0% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}
