

.wrapper {
  width: 100%;
  height: 100%;
}

#engine {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 1.4em;
  letter-spacing: -.3px;
  z-index: 9;
  mix-blend-mode: screen;

  a {
    text-decoration: none;
    color: yellow;
  }

}

#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


#webring {
  position: fixed;
  height: 12.5vh;
  width: 100vw;
  bottom: 10px;
  left: 0;
  z-index: 9;
  padding: 3vw;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  mix-blend-mode: screen;
  
  ._tutorial{
    display: block;
    width: 100%;
    
  }

  a {
    font-size: 1.5em;
    padding: .5em 1em;
    text-decoration: none;
    transition: all .2s cubic-bezier(.17, .67, .83, .67);
    color: yellow;
  }

  a._random {
    font-size: 1.5em;
  }

  a:hover {
    transform: scale(1.1);
    cursor: pointer;
    text-shadow: 0 0 5px yellow;
  }

}
