/* 






EDITOR






*/
@font-face {
  font-family: "FA Sysfont C";
  src: url("./assets/fonts/sysfont.woff2") format("woff2"), url("./alpha/assets/fonts/sysfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*

  COLORS

*/
/*

  TRANSITIONS

*/
html, body {
  scroll-behavior: smooth;
  font-family: "FA Sysfont C", monospace;
}

#e, body, #e-play {
  -webkit-transition: background 0.15s linear;
  -moz-transition: background 0.15s linear;
  -ms-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}

* {
  box-sizing: border-box;
}

body {
  background: #464A4B;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25vh;
}

h1 {
  font-size: 5.6em;
  letter-spacing: -2px;
  display: block;
  text-align: center;
  pointer-events: none;
}

h2 {
  width: 100%;
  display: block;
  border-bottom: 1.5px solid #000000;
  font-family: "FA Sysfont C", monospace;
  font-size: 0.9em;
  padding: 0.75em 0.25em;
  text-align: left;
}
h2 span {
  border-right: 1.5px solid #000000;
  padding: 0 0.25em;
}

h4 {
  padding: 0.5em;
}

button {
  border: 1.5px solid #000000;
  outline: 1px solid #edede8;
  border-radius: 8px;
  background: #000000;
  color: #edede8;
  padding: 1em;
  margin: 0.5em;
  font-family: "FA Sysfont C", monospace;
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

button:hover {
  transform: translateY(-2.5px);
  color: #edede8;
  background: #1c1e1f;
  cursor: pointer;
  box-shadow: 0 0 20px #3b4041;
}

/* 

    EFFECTS


*/
.fx {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
}

.fx._1 {
  background-image: url(https://i.gifer.com/origin/c5/c50bb597295cf9c1cacc417a2c2927ea_w200.gif);
  opacity: 0.08;
  mix-blend-mode: colorburn;
}

.fx._p {
  background: #ffe6eb;
  opacity: 1;
  mix-blend-mode: exclusion;
  display: none;
}

.fx._s {
  background-image: url(assets/fx-scanline.gif);
  background-size: 120%;
  opacity: 0.06;
  mix-blend-mode: multiply;
}

.fx._cover {
  z-index: 80;
  object-fit: contain;
}
.fx._cover img {
  width: 100%;
  height: 100%;
}

/* 



START AND EXTRAS 



*/
#info {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  color: #cbc7c6;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  padding: 0.75em;
}
#info span {
  padding: 0.5em;
}

#jump {
  position: fixed;
  z-index: 100;
  text-align: center;
  opacity: 0.8;
  padding: 1em;
  bottom: 0;
}
#jump a {
  display: inline-block;
  padding: 0.25em;
  margin: 0 0.25em;
  text-decoration: none;
  font-family: "FA Sysfont C", monospace;
  color: #edede8;
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
#jump a:hover {
  transform: scale(1.22);
  text-shadow: 0 0 5px #edede8;
}
#jump a._small {
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block;
  font-size: 0.6em;
}

#start {
  background: #464A4B;
  color: #edede8;
  min-height: 50vh;
  max-width: 80vw;
  padding: 20vh 0;
  margin: 12.5vh 0;
}
#start h1._title {
  font-size: 7.6em;
  letter-spacing: -5px;
  color: #cbc7c6;
}
#start .window-wrapper {
  text-align: center;
}
#start .window-wrapper p {
  font-size: 1.8em;
  letter-spacing: -1px;
}
#start .window-wrapper button {
  font-size: 1.2em;
  background: #464A4B;
  color: #cbc7c6;
  outline: #cbc7c6 1.5px solid;
  box-shadow: #3b4041 0 0 40px;
}
#start .window-wrapper button:hover {
  background: #717374;
  transform: translateY(-6px);
}

.window {
  position: relative;
  background: #edede8;
  box-shadow: 0 0 100px #717374;
  border: 1.5px solid #000000;
  outline: 1px solid #edede8;
  width: 100%;
  border-radius: 15px;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  flex-wrap: wrap;
  margin: 2.5vh 2vw;
}

.panel {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 1em 0;
  text-align: center;
}
.panel p {
  padding: 1em;
  font-weight: normal;
  font-size: 0.85em;
  line-height: 120%;
}
.panel h2 {
  width: 100%;
  padding: 0.5em;
  margin: 0;
}

.panel._full {
  border: 1.5px solid #000000;
}

.panel._sidebar {
  width: 100%;
  border-top: none;
  margin: 0 0 0.5em 0;
}

.panel._tutorial {
  outline: 1px solid #edede8;
  box-shadow: 0 0 20px #717374;
  transform: translateX(2em);
  right: 0;
  border-radius: 8px;
  max-width: 250px;
  z-index: 1;
  position: absolute;
  background: #edede8;
  color: #000000;
}

/* PANELS & SIDEBARS */
.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  border-bottom: none;
}

.sidebar-left {
  max-width: 190px;
}

.sidebar-right {
  max-width: 150px;
}

._howmany::after {
  content: "/15";
}

#controls-top {
  width: 100%;
  text-align: center;
}

#controls {
  width: 200px;
  margin: 0 auto;
  padding: 1em;
}

.controls-selected {
  display: none;
  text-align: center;
}

#controls #colorpicker input[type=color] {
  padding: 0.1em;
  display: block;
  width: 100%;
  height: 40px;
}

#controls #colorpicker input[type=color]:hover {
  cursor: pointer;
}

#btn-savecartridge {
  margin: 0 auto;
  display: none;
}

/* TEXT */
#e-text {
  background: none;
  position: absolute;
  height: 512px;
  width: 512px;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 999;
  pointer-events: none;
}
#e-text textarea {
  padding: 0.5em;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  color: #edede8;
  font-size: 1.9em;
  mix-blend-mode: exclusion;
  white-space: pre-wrap;
  overflow-y: hidden;
  cursor: text;
}

.library-text-controls button {
  padding: 0.5em;
}
.library-text-controls button.__toggled {
  background: #cbc7c6;
  color: #464A4B;
  border: 1px solid #cbc7c6;
  outline: 1.5px solid #464A4B;
  transform: translateY(-5px);
  display: inline-block;
}

#engine-window {
  display: inline-block;
  width: auto;
  max-width: 900px;
  height: auto;
}

#engine {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1.5px solid #000000;
}
#engine .sidebar {
  margin: 0 auto;
  padding: 0;
}

#e, #e-play {
  display: block;
  position: relative;
  background: #000000;
  border: 1px solid #edede8;
  outline: 1.5px solid #000000;
  width: 512px;
  height: 512px;
  margin: 0;
  overflow: hidden;
}

#e .obj, #e-play .obj, #e-cartridge .obj {
  position: absolute;
  display: inline-block;
  width: 128px;
  height: 128px;
  mix-blend-mode: exclusion;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

#e img[data-selected="1"] {
  box-shadow: 0 0 20px #edede8;
}

#e img[data-selected="1"]:hover {
  cursor: pointer;
}

.engine-buttons {
  display: block;
  width: 100%;
  text-align: center;
}
.engine-buttons button {
  margin: 0 0.25em;
  padding: 1em 1.75em;
}

/* 



PLAY 



*/
#play {
  outline: 1.25px solid #edede8;
  background: #000;
  position: relative;
  width: 512px;
  animation: pulse-engine 5s infinite;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.13s linear;
}
#play .play-overlay {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 9;
}
#play #e-cartridge {
  position: absolute;
  width: 512px;
  height: 512px;
  bottom: 0;
  z-index: 15;
}
#play #e-text {
  position: absolute;
  top: 0;
  z-index: 15;
  pointer-events: none;
}
#play #e-text textarea {
  pointer-events: none !important;
}
#play #e-controls {
  position: absolute;
  width: 100%;
  height: 512px;
  z-index: 12;
  bottom: 0;
}
#play #e-controls a {
  position: absolute;
  display: inline-block;
  background: #edede8;
  opacity: 0.5;
  background-blend-mode: blur(3px);
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
#play #e-controls a.___n, #play #e-controls a.___s {
  width: 100%;
  height: 30px;
}
#play #e-controls a.___e, #play #e-controls a.___w {
  width: 30px;
  height: 512px;
}
#play #e-controls a.___e {
  right: 0;
}
#play #e-controls a.___s {
  position: absolute;
  bottom: 0;
}
#play #e-controls a.-inaccessible {
  opacity: 0.05;
}
#play #e-controls a:hover {
  transform: scale(1.02);
  cursor: pointer;
  background: hotpink;
  opacity: 0.6;
}
#play #e-controls a.-inaccessible:hover {
  opacity: 0.1;
  cursor: not-allowed;
}
#play h2 {
  color: #edede8;
  border-bottom: 1px solid #edede8;
}

/* 



EDITOR 



*/
#scene_s #scene_selector, #map #scene_selector {
  margin: 1em auto;
  text-align: center;
}
#scene_s #scene_selector hr, #map #scene_selector hr {
  height: 0;
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
#scene_s #scene_selector ._s, #map #scene_selector ._s {
  display: inline-block;
  padding: 0.25em;
  background: #000000;
  color: #edede8;
  border: 1px solid #000000;
  outline: 1.5px solid #edede8;
  vertical-align: middle;
  font-family: "FA Sysfont C", monospace;
  -webkit-transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.19s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: scale(0.98);
}
#scene_s #scene_selector ._s.__start, #map #scene_selector ._s.__start {
  border: 1px solid #eb80ff;
  outline: 1.5px solid #000000;
}
#scene_s #scene_selector ._s.__active, #map #scene_selector ._s.__active {
  opacity: 1;
  border: 1px solid #edede8;
  outline: 2ox solid #eb80ff;
  box-shadow: 0 0 5px #000000;
  animation: pulse-black 2s infinite;
}
#scene_s #scene_selector ._s.__inactive, #map #scene_selector ._s.__inactive {
  opacity: 0.5;
}
#scene_s #scene_selector ._s.__unused, #map #scene_selector ._s.__unused {
  opacity: 0.25;
}
#scene_s #scene_selector ._s:hover, #map #scene_selector ._s:hover {
  transform: scale(1.03);
  filter: invert(1);
  cursor: pointer;
  transform: translateY(-5px);
}

#map {
  width: 90%;
  margin: 0 50px;
  border: 1.5px solid #000;
}
#map #scene_selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#map #scene_selector textarea#_remix {
  display: none;
  width: 312px;
  height: 312px;
  padding: 1em;
  border-radius: 8px;
  font-family: "FA Sysfont C", monospace;
  border: 1px solid #464A4B;
  outline: 1.5px solid #cbc7c6;
}
#map #scene_selector ._s {
  color: #edede8;
  width: 70px;
  height: 70px;
  padding: 0.5em;
  margin: 0.2em;
  font-size: 1em;
  border-radius: 6px;
  vertical-align: middle;
  text-align: center;
}
#map #scene_selector ._s.__start::after {
  padding: 0.5em 0;
  display: block;
  content: "Start";
  color: #edede8;
  font-family: "FA Sysfont C", monospace;
  text-transform: uppercase;
  font-size: 0.6em;
}

#scene_s {
  margin-top: 0;
}
#scene_s ._whatscene {
  display: inline-block;
  padding-left: 0.5em;
  border-right: 0;
}
#scene_s #scene_selector {
  max-width: 260px;
  padding: 0.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  border-top: 0;
}
#scene_s #scene_selector hr {
  margin: 0;
  display: block;
}
#scene_s #scene_selector ._s {
  flex-basis: 22%;
  font-size: 0.5em;
  line-height: 24px;
  margin: 0.25em;
  border-radius: 3px;
  -webkit-transition: all 0.13s linear;
  -moz-transition: all 0.13s linear;
  -ms-transition: all 0.13s linear;
  -o-transition: all 0.13s linear;
  transition: all 0.13s linear;
  border: 0.6px solid #edede8;
  outline: 1.4px solid #000000;
  box-shadow: 0 0 5px #edede8;
}

#texttool input[type=text] {
  margin: 1em auto;
  width: 80%;
  padding: 0.25em;
}

#library {
  margin: 0;
}
#library .library-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#library .library-controls select {
  padding: 0.25em 1em;
  margin: 1em auto;
  text-align: center;
  border-radius: 8px;
  outline: 1.5px solid #edede8;
  border: 1px solid #000000;
  background: #000000;
  color: #edede8;
  font-family: "FA Sysfont C", monospace;
}
#library .library-controls select:hover {
  cursor: pointer;
}
#library .library-controls button._filter {
  padding: 0.25em;
  text-transform: uppercase;
}
#library .library-selector {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  background: #000;
  padding: 0;
  max-height: 188px;
  max-width: 190px;
  overflow-y: scroll;
  display: none;
}
#library .library-selector img {
  margin: -0.1em;
}
#library ._objcoords {
  display: block;
  padding: 0.5em 0.75em;
}
#library ._toadd {
  background: #000000;
  padding: 0.25em;
  border: 0.5px solid #edede8;
  object-fit: contain;
  width: 50px;
  height: 50px;
  max-width: 50px;
  height: 50px;
  -webkit-transition: all 0.24s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.24s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
#library ._toadd:hover {
  filter: invert(1);
  transform: translateY(-3.5px);
  cursor: pointer;
  border: 0.5px solid #edede8;
  outline: 1.5px solid #000000;
  border-radius: 6px;
}

#downloader_game {
  width: 1px;
  height: 1px;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
}

#downloader {
  width: 1px;
  height: 1px;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
}

/* ANIMATIONS */
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 7px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-black-engine {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  }
  70% {
    transform: scale(1.02);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-engine {
  0% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}

/*# sourceMappingURL=t.css.map */
