@import "styles";

#workspace {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// CONTAINERS
.window {
  background: $white;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 400px;

  .-content {
    padding: 2.5vh 0;
    width: 100%;
    text-align: center;
  }

  h2:first-child {
    letter-spacing: 0;
    padding: .5em;
    border-bottom: .5px solid;
  }
}


// COMPONENTS

button {
  border: 1px solid $black;
  background: $lg;
  color: $black;
  padding: .5em 1em;
  margin: .25em;
  font-family: $serif-alt;
  text-transform: uppercase;
  font-size: .8rem;
  -webkit-transition: all .19s cubic-bezier(.17, .67, .83, .67);
  transition: all .19s cubic-bezier(.17, .67, .83, .67);
}

button.--small {
  border: 0;
  background: 0;
  margin: 0;
  font-size: .6rem;
}

button:hover {
  transform: translateY(-2.5px);
  color: $l;
  background: $g4;
  cursor: pointer;
  box-shadow: 0 0 10px $g1;

  img {
    filter: invert(1);
  }
}

button.--destructive:hover {
  color: red;
  background: none;
  box-shadow: none;
}


// WINDOWS


.engine-buttons {
  text-align: center;
  margin-bottom: 15vh;

  button {
    margin: 0 .25em;
  }

  button#btn-play {
    padding: 1em 5em;
    border-radius: 8px;
  }

  button#btn-clear {
    margin-top: .5em;
    padding: .5em 2em;
  }


  button.--med {
    border: 0;
    background: 0;
  }

  button.--med:hover {
    box-shadow: none;
    color: #000;
  }



}

.engine-buttons:hover > button:not(:hover) {
  opacity: 0.6;
}
