@import "styles";

#workspace {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// CONTAINERS
.window {
  background: $white;
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h2:first-child {
    letter-spacing: 0;
    padding: .5em;
    border-bottom: .5px solid;
  }
}

// COMPONENTS

button {
  border: 1px solid $black;
  background: $lg;
  color: $black;
  padding: .5em 1em;
  margin: .25em;
  font-family: $serif-alt;
  text-transform: uppercase;
  font-size: .8rem;
  -webkit-transition: all .19s cubic-bezier(.17, .67, .83, .67);
  transition: all .19s cubic-bezier(.17, .67, .83, .67);
}

button.--small {
  margin: 0;
  font-size: .6rem;
}

button:hover {
  transform: translateY(-2.5px);
  color: $l;
  background: $g4;
  cursor: pointer;
  box-shadow: 0 0 10px $g1;

  img {
    filter: invert(1);
  }
}
