.wrapper {
  width: 100%;
  height: 100%;
}

#engine {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 1em;
  letter-spacing: -.3px;
  z-index: 9;
  pointer-events: none;

  a {
    text-decoration: none;
  color:#fff;
  }

}

#help{
  position: fixed;
  z-index: 9999;
padding: 1em;
  margin: 2vw;
  cursor: help;
  display: none;
}


#downloader {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  white-space: pre !important;
  display: inline-block;
  pointer-events: none !important;
  opacity: 0 !important;
}


#gamelist{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: none;
  
  ._games{
    padding: 5vw;
    max-height: 100%;
    overflow-y: scroll;
  }
  
  ._close{
    cursor: pointer;
    font-size: 2em;
  }
  
  a{
    color:#fff;
    display: block;
    padding: 1em;
    text-align: center;
    cursor: pointer;
  }
  
  a:hover{
    transform: scale(1.05);
    text-shadow: 0 0 5px #fff;
  }
  
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


#webring {
  position: fixed;
  height: 12.5vh;
  width: 100vw;
  bottom: 50px;
  left: 0;
  z-index: 9;
  padding: 3vw;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  mix-blend-mode: difference;
  
  ._random{
    display: block;
    font-size: 1.25em;
  }
  
  ._tutorial{
    display: block;
    width: 100%;
    
  }
  
  hr{
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
  }

  a {
    font-size:.7em;
    padding: .25em 1em;
    text-decoration: none;
    transition: all .2s cubic-bezier(.17, .67, .83, .67);
    color: #fff;
    text-shadow: 0 0 10px #fff;
    border: 1px solid #fff;
    border-radius: 12px;
    margin: .25em;
  }

  a._random {
    font-size: 1.5em;
  }

  a:hover {
    background:#fff;
    color: #000;
    transform: scale(1.1);
    cursor: pointer;
    text-shadow: 0 0 5px yellow;
  }

}
