
Redirect 301 "/discord" "https://discord.gg/eDKKZ9tXc3"
Redirect 301 "/submit" "https://forms.gle/Thifa9CL7fQpbXwT8"
Redirect 301 "/gallery" "https://engine.lol/alpha/gallery.html"
Redirect 301 "/player" "https://engine.lol/alpha/player.html"
Redirect 301 "/complain" "https://discord.gg/c4DQ6mqJ"
Redirect 301 "/store" "https://forms.gle/xH7omCdDDRtVRrkA6"